* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --nav-color: #ffd269;
}

/* NAVIGACE */
nav {
    background-color: var(--nav-color);
    padding: 20px;
}

/* DATA */
#data {
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#data img {
    margin-bottom: 10px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

#data h1 {
    font-size: 1.7rem;
    text-align: center;
}

#data p {
    font-size: 0.8rem;
    text-align: center;
}

#data .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.none {
    display: none;
}

#data div:hover > img {
    opacity: 0.5;
}
