* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --nav-color: #ffd269;
    --img-size: 200px;
}

#no-overflow {
    overflow-y: hidden;
}

.none {
    display: none !important;
}

/* NAVIGACE */
nav {
    display: flex;
    gap: 30px;
    background-color: var(--nav-color);
    padding: 20px;
}

/* FILTERS */
/* INGREDIENTS */
#filtres {
    position: relative;
}

#ingredients {
    cursor: pointer;
}

#ingredients-finding {
    order: -2;
    width: 100%;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
}

#search-ingredients {
    width: 70%;
    border: none;
    outline: none;
    background-color: var(--nav-color);
    padding: 0 15px;
    border-radius: 10px;
}

#search-ingredients:focus {
    border: none;
    outline: none;
}

#apply {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: var(--nav-color);
    border-radius: 10px;
}

#apply:hover {
    background-color: #d69600;
}

#ingredients-div {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 4rem;
    gap: 10px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.ingredient {
    flex-grow: 1;
    text-align: center;
    display: inline;
    cursor: pointer;
    padding: 10px;
    background-color: var(--nav-color);
    border-radius: 10px;
    text-transform: capitalize;
}

.ingredient.selected {
    background-color: #d69600;
    order: -1;
}

/* LOADING */
#loading {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

/* DATA */
#data {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

#data img {
    margin-bottom: 10px;
    width: var(--img-size);
    height: var(--img-size);
    aspect-ratio: 16/9;
    object-fit: contain;
}

#data h1 {
    width: var(--img-size);
    font-size: 1.7rem;
    text-align: center;
    overflow-wrap: word-wrap;
}

#data p {
    font-size: 0.8rem;
    text-align: center;
}

.coctail {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

#data div:hover > img {
    opacity: 0.7;
}
